@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">MediKeeper - Take-Home Project</h1>
        <h3>Jason Thai - 3/2020</h3>
        <p>A take-home project prior to interviewing for a .NET position at MediKeeper.</p>
        <p>I originally made an ASP.NET Web Form application, but was unable to deploy it anywhere.</p>
        <p>This is my 2nd attempt, but now using ASP.NET Core, something I've never worked on before.</p>
    </div>